---
people = parse team.yaml:
---
<ul>
{{#each people}}
  <li>
    <img src="headshots/{{id}}.jpg" alt="{{name}}">
    <a href="team/{{id}}.html">{{name}}</a>
    <i>{{position}}</i>
  </li>
{{/each}}
</ul>